
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@media screen and (min-width: 200px)
{ 
  

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html
{
  font-size: 16px;
  box-sizing: border-box;
}

body 
{
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  height : 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
/* LAYOUT */
main {
  position: relative;
  width:100vw;
  height: 80vh;
  padding: 50px;
 
  padding-bottom: 50px;;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
 flex-direction: column;
}

.dice
{
  padding-top: 10px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.player
{
  flex:50%;
  
  display:flex;
  flex-direction: column;
  

  justify-content: center;
  align-items: center;
  
  transition: all 0.3s;
  
}

.score
{
  font-size: 2rem;
  font-weight: 600;
  color: #c7365f;
  margin-bottom: auto;
}

.name
{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}
.current {
  background-color: #c7365f;
  border-radius: 9px; 
  color: #fff;
  width: 45%;
  text-align: center;
  transition: all 0.75s;
}
.btn {
  position:relative;
  justify-content: center;
  align-items: center;
  transform: translateX(0%);
  width:100%;
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.0s;
  background-color: white;
  backdrop-filter: blur(10px);
  border-radius: 9px;
  padding:5px;
  margin-top:10px;
  margin-bottom:9px;
 box-shadow: 0 1.75 3.5 rgba(0, 0, 0, 0.1);
}



.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}


.dice {
 margin-top:2px;
  height: 8rem;
  transform: translateX(0%);


}
.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}


}

@media screen and (min-width: 600px)
{
  main {
    width: 60vw;
    height: 85vh;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .dice {
    padding-top: 10px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
  }
  
  .player {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }
  
  .score {
    font-size: 2rem;
    font-weight: 600;
    color: #c7365f;
    margin-bottom: auto;
  }
  
  .name {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .player--active {
    background-color: rgba(255, 255, 255, 0.4);
  }
  .player--active .name {
    font-weight: 700;
  }
  .player--active .score {
    font-weight: 400;
  }
  
  .player--active .current {
    opacity: 1;
  }
  .current {
    background-color: #c7365f;
    border-radius: 9px;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;
  }
  .btn {
    left:25%;
     justify-content: center;
    align-items: center;
    transform: translateX(0%);
    opacity: 1;
    width:50%;
    color: #444;
    background: none;
    border: none;
  }

}
